.card {
  width: 380px;
  margin: 40px;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  height: 320px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px 10px 0% 0%;
}
.card:hover {
  box-shadow: 1px 1px 2px #888888;
}
.card h5 {
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #f5f5f5;
}
.DetailsBtn {
  width: 160px;
  height: 55px;
  background-color: #f8633b;
  color: aliceblue;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.8px;
  border-radius: 8px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

.arrowicon {
  transition: 0.8s;
  font-size: 25px;
  margin-left: 10px;
  line-height: 1;
  position: relative;
}
.DetailsBtn:hover .arrowicon {
  transform: translatex(2px);
}
.DetailsBtn:hover {
  transform: translatex(2px);
}

.description {
  font-size: 16px;
  text-align: center;
  color: #949cb0;
}
.desc {
  height: 70px;
  padding-inline: 4px;
  margin: 0px 0 20px;
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
  img {
    width: 400px;
  }
  .cardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
