/* box-size:
- content box :( defult) وهنا بيزود بزياده حجم الكونتنت يعني لو اديت  عرض 40 وزدت بادنج 
العرض هيكبر ولو زودت 
الكونتنت العرض 
هيكبر لو حطيت بروردر
 طخين العرض الكلي هيكبر 
 ولاكن 
 - border-box : بياخد حجم البوردر او البادنج من حجمي من عرضي الاصلي ومابيزودش عليا حاجه
 */
/*#*nested & selects css react????? azayy*/
/**************************************/
.brdr {
  height: 1px;
  border: 1px solid #a8a8a83d;
}
/**************************************/

/* #a8a8a83d */
/*
body {
}
.movesContainer {
  display: flex;
  flex-wrap: wrap;

  align-content: space-around;
  padding-bottom: 50px;
}*/
.card {
  width: 200px;
  border: 2px dotted black;
  padding: 10px;
  margin: 40px;
  box-shadow: 1px 1px 5px #888888;
}
img {
  width: 100%;
}
.card:hover {
  border: 2px solid black;
  box-shadow: 1px 1px 2px #888888;
  transform: translateY(-10px);
}
