li {
  cursor: pointer;
}
.Navbar {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  background-color: #182029;
}
.divfloxosa {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 7px 0 7px 0;
}

.navlogo {
  font-weight: 700;
  font-size: 20px;
  color: #fff9ec;
  text-decoration: none;
  margin-left: 10px;
}
.ulLinks {
  width: 40%;
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.desapear {
  width: 40%;
  display: flex;
  margin-bottom: 0;
  align-items: center;
  /*  هنسال ماذا نفعل في حاله  اننا اخفينا اللنكات وبعدين كبرنا >_<*/
}
.navlink {
  color: #fff9ec;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  opacity: 0.9;
  text-align: center;
}

.burgericon {
  display: none;
}

.loginoutbox {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

.active {
  color: #fff9ec;
}
/* isPending ? style.pending : isActive ? style.active : "" */
@media (max-width: 700px) {
  .divfloxosa {
    flex-direction: column;
    justify-content: flex-start;
  }
  .Navbar {
    margin-bottom: 170px;
  }
  .ulLinks {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .ulLinks li {
    margin-bottom: 15px;
  }
  .burgericon {
    display: block;
    font-size: 26px;
    position: absolute;
    right: 10px;
    top: 0;
  }
  .desapear {
    display: none;
  }
  .loginoutbox {
    width: 100%;
  }
}
