li {
  cursor: pointer;
}
.Navbar {
  display: flex;
  background-color: #182029;
  padding-inline: 113px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7px 0 7px 0;
}

.navlogo {
  font-weight: 900;
  font-size: 30px;
  color: #fff9ec;
  text-decoration: none;
  cursor: pointer;
}
.navlogo span {
  color: #f8633b;
}
.ulLinks {
  width: 40%;
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.desapear {
  width: 40%;
  display: flex;
  margin-bottom: 0;
  align-items: center;
  /*  هنسال ماذا نفعل في حاله  اننا اخفينا اللنكات وبعدين كبرنا >_<*/
}
.navlink {
  color: #fff9ec;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  opacity: 0.9;
  text-align: center;
}

.burgericon {
  display: none;
}

.loginoutbox {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

.active {
  color: #f8633b;
}
.logout {
  width: 80px;
  height: 45px;
  border: 1px solid #f8633b;
  border-radius: 6px;
  background-color: #fff9ec;
  color: #f8633b;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 700px) {
  .Navbar {
    display: block;
    margin-bottom: 60px;
  }
  .menu {
    flex-direction: column;
    justify-content: flex-start;
  }
  .ulLinks {
    width: 400px;
    border: 3px solid #2126ad;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    background-color: #182029;
  }
  .ulLinks li {
    width: 400px;
    margin-bottom: 15px;
  }
  .ulLinks li:hover {
    background-color: red;
  }
  .burgericon {
    display: inline;
    font-size: 26px;
    position: absolute;
    right: 10px;
    top: 0;
  }
  .desapear {
    display: none;
  }

  .navlogo {
    position: absolute;
    left: 15px;
    top: 0px;
    font-weight: 700;
    font-size: 20px;
  }
}
