body {
  background: #0c141d;
  color: #fff9ec;
  font-family: "segoe ui light";
}
a {
  text-decoration: none;
  color: #fff9ec;
}
a:hover {
  color: #f8633b;
}

.secondColor {
  color: #949cb0;
}
.card {
  width: 200px;
  padding: 10px;
  box-shadow: 1px 1px 5px #888888;
}
.imgwrapper img {
  width: 100%;
}
.card:hover {
  border: 2px solid black;
  box-shadow: 1px 1px 2px #888888;
  transform: translateY(-10px);
}
.brdr {
  height: 1px;
  border: 1px solid #a8a8a83d;
}
.webview {
  height: 75.4vh;
}
