body {
  /* background-color: #263238; */
  background: #0a2647;
  color: white;
  font-family: "segoe ui light";
}
/* #125B50
#F8B400
#FAF5E4
#FF6363*/

.navbar-brand,
.navbar-expand-lg .navbar-nav .nav-link,
.auth-linkes .nav-link {
  color: #faf5e4 !important;
  font-weight: bold;
}
.secondColor {
  color: #949cb0;
}
.card {
  width: 200px;
  border: 2px dotted black;
  padding: 10px;
  box-shadow: 1px 1px 5px #888888;
}
.imgwrapper img {
  width: 100%;
}
.card:hover {
  border: 2px solid black;
  box-shadow: 1px 1px 2px #888888;
  transform: translateY(-10px);
}
