body {
  background-color: #faf5e4;
  color: #125b50;
  font-family: "segoe ui light";
}
/* #125B50
#F8B400
#FAF5E4
#FF6363*/

.navbar-brand,
.navbar-expand-lg .navbar-nav .nav-link,
.auth-linkes .nav-link {
  color: #faf5e4 !important;

  font-weight: bold;
}
.secondColor {
  color: #949cb0;
}
